Source: se3-ocs
Section: misc
Priority: extra
Maintainer: plouf <plouf@sambaedu.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: se3-ocs
Architecture: any
Depends: se3 (>= 0.98), libwww-perl, libdbi-perl, libnet-ip-perl, libapache2-mod-perl2, libcompress-zlib-perl, libxml-simple-perl, libnet-ssleay-perl, dmidecode, libapache-dbi-perl
Description: Install ocs-ng for se3
 This package add ocs-inventory-NG fo se3
