Source: se3-ocs
Section: misc
Priority: optional
Maintainer: plouf <plouf@sambaedu.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: se3-ocs
Architecture: all
Depends: se3 (>= 1.50), ocsinventory-server, ocsinventory-reports, libapache-dbi-perl, libapache2-mod-perl2,  libcompress-zlib-perl, libdbd-mysql-perl, libdbi-perl, libnet-ip-perl, libxml-simple-perl, ucf
Description: ocs-inventory-NG pour se3
